header  {
  
  text-align: center;
}

body {
  margin: auto;
  width: 80%;
  padding-left: 20%;
  margin-top: 30px;
}

.left {
  width: 40%;
  float: left;
  padding-top: 20px;
}

.right {
  width: 40%;
  float: left;
}

.headphones_section {
  width: 100%;
  clear: both;
}
#headphones_section img{
  width:50%;

}
#laptop_section img{
  width:50%;


}
#window_section img{
  width:50%;

}
.laptop_section {
  width: 100%;
  clear: both;
}


.window_section {
  width: 100%;
  clear: both;
}


.picture {
  width: 40%;
  float: left;
  margin-top:20px;
}

.text {
  width: 50%;
  float: left;
  margin-left:10px;
}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}
